<div class="wrapper">
  <div class="backdrop"></div>
  <div class="container">
    <div class="content">
      <h1>1. About Me</h1>
      <div class="overlay">
        <p>
          I'm a software engineer focused on creating efficient, scalable
          solutions for complex problems. With an emphasis on reducing technical
          debt and designing systems that support long-term business goals, I
          aim to deliver clean, maintainable code that enables growth and
          innovation.
        </p>
      </div>
      <div class="dynamic-content">
        <div class="traits">
          <div class="trait">
            <fa-icon [icon]="upTrend" />
            <p>
              Focused on maximizing business value, and minimizing technical
              debt.
            </p>
          </div>
          <div class="trait">
            <fa-icon [icon]="bookReader" />
            <p>Willing to share knowledge and help others in the team.</p>
          </div>
          <div class="trait">
            <fa-icon [icon]="trees" />
            <p>
              Self-motivated to always learn and improve myself professionally.
            </p>
          </div>
          <div class="trait">
            <fa-icon [icon]="engineer" />
            <p>Solving challenging problems are enjoyable.</p>
          </div>
          <div class="trait">
            <fa-icon [icon]="wifi" />
            <p>
              I try to have open lines of communication with any team or person.
            </p>
          </div>
          <div class="trait">
            <fa-icon [icon]="palette" />
            <p>
              Creative thinking plays a key role in the software solutions I
              design and implement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
