<div *ngIf="isNavbarVisible" class="navbar-main" @navbarInOut>
  <div class="container">
    <div class="left-div">
      <button class="brand" (click)="navigateToSection('landing')">
        <h1>Chris Alba</h1>
      </button>
      <div class="shortcuts">
        <button class="shortcut" (click)="navigateToSection('about')">
          About
        </button>
        <button class="shortcut" (click)="navigateToSection('skills')">
          Skills
        </button>
        <button class="shortcut" (click)="navigateToSection('career')">
          Career
        </button>
      </div>
    </div>
    <div class="right-div">
      <app-theme-toggle />
      <button class="menu" (click)="toggleDrawer()">
        <fa-icon [icon]="showDrawer ? close : menu"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="drawer" *ngIf="showDrawer" @slideInOut>
  <div class="drawer-links">
    <button class="drawer-shortcut" (click)="navigateToSection('about')">
      About
    </button>
    <button class="drawer-shortcut" (click)="navigateToSection('skills')">
      Skills
    </button>
    <button class="drawer-shortcut" (click)="navigateToSection('career')">
      Career
    </button>
  </div>
  <div class="drawer-toggle">
    <app-theme-toggle />
  </div>
</div>
