<div class="wrapper"  data-aos="fade-up">
  <div class="backdrop"></div>
  <div class="container">
    <div class="content">
      <h1>2. Technologies and Skills</h1>
      <div class="overlay">
        <p>
          I’m a full stack software engineer, so my skills range from frontend
          to backend technologies. I have more professional experience
          developing enterprise level backend solutions, but spend most of my
          own time outside of work developing in the frontend.
        </p>
      </div>
      <div class="dynamic-content">
        <app-tabs>
          <app-tab title="Technologies"><app-technologies /></app-tab>
          <app-tab title="Technical Skills"><app-technical /></app-tab>
          <app-tab title="Soft Skills"><app-soft/></app-tab>
        </app-tabs>
      </div>
    </div>
  </div>
</div>
