[data-theme="light"] {
  --header-background-color: #ffffff;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #231f20;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --tertiary-color: #5D43BC;

  --main-content-background-color: #ffffff;
  --main-content-text-color: #222222;
  --main-content-border-color: #00000042;
}

[data-theme="dark"] {
  --header-background-color: #2c3c93;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #ffffff;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --tertiary-color: #866cfa;

  --main-content-background-color: #222222;
  --main-content-text-color: #ffffff;
  --main-content-border-color: #ffffff56;
}
